[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=jenkins
Group=jenkins
WorkingDirectory=/var/lib/jenkins/workspace/teerdha17/
ExecStart=/var/lib/jenkins/workspace/teerdha17/praveen/bin/gunicorn \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          Teerdhaproject.wsgi:application

[Install]
WantedBy=multi-user.target
